body{
    font-family: 'Ubuntu-light';
    text-align: center;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}
p{
    color: #8f8f8f;
    width: 60%;
    margin: auto;
}





/*    title section  */
#title{
    background-color: #ff4c68;
    padding: 7% 15%;
    color: #fff;
}

.title-class{
    text-align: left;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}
.navbar{
    padding-bottom: 30px;
}
.container-fluid{
    padding: 0;
}
.title-img{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 22%;


}
.title-btn{
 margin-top: 15px;
 margin-right: 12px;
  margin-bottom: 40px;
}
/* <!-- Features Section --> */
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}
.feature-font{
    color: #ef8172;
    font-size: 3rem;
    padding-bottom: 10px;
}
.feature-font:hover{
    color: #ff4c68;
}



/*<!-- Testimonials Section -->*/
#testimonials{
   
    background-color: #ef8172;
    color: #fff;
}
.testimonials-cl{
    padding: 7% 15%;
}
.testimonial-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
}
.testimonial-image{
    border-radius: 100%;
    width: 7%;
}

/* Press-Section */
#press{
    background-color: #ef8172;
    
}

.press-img{
    width: 15%;
    padding: 20px 20px 50px;
    
}
/* <!-- Pricing Section --> */
#pricing{
    padding: 7% 15%;
}

#pricing p{
    padding-bottom: 20Px;
}
.pricing-card{
    padding: 20px;
}


/*<!-- Call to Action -->*/
#cta{
    background-color: #ff4c68;
    padding: 7% 15%;
   
}

#cta h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}


/*<!-- Footer -->*/
#footer{
    padding: 4% 15%;
}

.social-icon{
    padding: 5px 10px;
}

@media (max-width: 988px) {

    .title-class{
        text-align:center;
    }
    
    .title-img {
      width: 60%;
      position: static;
      transform: rotate(0);
     
    }
  }
  